<launch>
    <!-- flag if rviz should be started -->
    <arg name="use_rviz" default="true"/>

    <!-- lidar sensor -->
    <arg name="sensor_manufacturer" default="ouster"/>
    <arg name="sensor_model" default="os32"/>
    <arg name="sensor_position" default="left"/>
    <arg name="sensor_frame" default="sensor/lidar/$(arg sensor_model)_$(arg sensor_position)/os_sensor"/>
    <arg name="sensor_raw_data_topic" default="/bus/$(arg sensor_model)_$(arg sensor_position)/lidar_packets"/>
    <arg name="sensor_is_clockwise" default="true"/>

    <!-- manufacturer specific: ouster -->
    <arg name="ouster_metadata_service" default="/bus/$(arg sensor_model)_$(arg sensor_position)/get_metadata"/>

    <!-- range image parameters -->
    <arg name="columns_per_full_rotation" default="1024"/> <!-- TODO: obtain this dynamically? -->

    <!-- ground point segmentation parameters -->
    <arg name="fog_filtering_intensity_below" default="3"/>
    <arg name="fog_filtering_distance_below" default="5"/>
    <arg name="fog_filtering_inclination_above" default="-0.17"/>

    <!-- clustering parameters -->
    <arg name="ignore_points_in_chessboard_pattern" default="false"/>
    <arg name="ignore_points_with_too_big_inclination_angle_diff" default="false"/>

    <include file="$(find streaming_clustering)/launch/streaming_clustering.launch" pass_all_args="true"/>
</launch>