<launch>
    <!-- flag if rviz should be started -->
    <arg name="use_rviz" default="true"/>

    <!-- lidar sensor -->
    <arg name="sensor_manufacturer" default="kitti"/>
    <arg name="sensor_model" default="kitti"/>
    <arg name="sensor_position" default="roof"/>
    <arg name="sensor_frame" default="velo_link"/>
    <arg name="sensor_raw_data_topic" default="/kitti/velo/pointcloud"/>
    <arg name="sensor_is_clockwise" default="true"/>

    <!-- other ros specific parameters -->
    <arg name="ego_robot_frame" default="velo_link"/>

    <!-- range image parameters -->
    <arg name="num_columns" default="2200"/>

    <!-- clustering parameters -->
    <arg name="ignore_points_in_chessboard_pattern" default="false"/>
    <arg name="ignore_points_with_too_big_inclination_angle_diff" default="false"/>

    <!-- add vehicle dimensions to parameter server (values below are approximate and relative to lidar) -->
    <param name="/vehicles/ego" value="vw_passat_b6"/>
    <param name="/vehicles/vw_passat_b6/geometric/height_ref_to_maximum" value="0.5"/>
    <param name="/vehicles/vw_passat_b6/geometric/height_ref_to_ground" value="-1.7"/>
    <param name="/vehicles/vw_passat_b6/geometric/length_ref_to_front_end" value="3"/>
    <param name="/vehicles/vw_passat_b6/geometric/length_ref_to_rear_end" value="-3"/>
    <param name="/vehicles/vw_passat_b6/geometric/width_ref_to_left_mirror" value="1.5"/>
    <param name="/vehicles/vw_passat_b6/geometric/width_ref_to_right_mirror" value="-1.5"/>

    <include file="$(find continuous_clustering)/launch/continuous_clustering.launch" pass_all_args="true"/>

    <!-- start node for evaluation -->
    <group ns="perception/detections/lidar_$(arg sensor_position)/cluster">
        <node name="kitti_evaluation" pkg="continuous_clustering" type="kitti_evaluation_node" output="screen"/>
    </group>

</launch>