<launch>
    <arg name="path" default="/mnt/kitti_sequences" doc="path to kitti sequences, i.e. parent of '00', '01', ..."/>
    <arg name="evaluate" default="false" doc="whether to evaluate sequences based on metrics from TRAVEL paper"/>
    <arg name="evaluate_fast" default="false" doc="same as 'evaluate' but without ROS publishers and with no delays"/>
    <arg name="delay_between_columns" default="2000" doc="artificial delay in microseconds between image columns"/>

    <arg name="_evaluate" value="$(eval '--evaluate' if evaluate else '')"/>
    <arg name="_evaluate_fast" value="$(eval '--evaluate-fast' if evaluate_fast else '')"/>

    <param name="use_sim_time" value="true"/>

    <node name="kitti_demo" pkg="continuous_clustering" type="kitti_demo"
          args="$(arg path) --delay-between-columns $(arg delay_between_columns) $(arg _evaluate) $(arg _evaluate_fast)"
          output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz"
          args="--display-config $(find continuous_clustering)/rviz/demo_kitti_folder.rviz"/>

    <!-- below is just for visualization of a dummy car in Rviz (has not the correct dimensions) -->
    <param name="robot_description" command="$(find xacro)/xacro $(find continuous_clustering)/urdf/dummy_car.urdf"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="publish_base_link"
          args="0 0 -1.3 0 0 0 velo_link base_link"/>
</launch>