<launch>
    <!-- flag if rviz should be started -->
    <arg name="use_rviz" default="true" doc="whether to start rviz"/>

    <!-- flag whether to start vehicle specific low level stuff (drivers, parameters, etc.) -->
    <arg name="launch_vehicle" default="true" doc="whether to launch low level vehicle sensor inputs and parameters"/>

    <!-- arguments to play directly a rosbag with this launch file -->
    <arg name="bag_file" default="" doc="path to bag file; if empty no bag file is replayed"/>
    <arg name="bag_rate" default="0.1" doc="replay speed"/>

    <!-- start clustering for single sensor -->
    <include file="$(find continuous_clustering)/launch/sensor_kitti.launch" pass_all_args="true">
        <arg name="use_rviz" value="false"/>
    </include>

    <!-- start vehicle specific low level stuff (drivers, parameters, etc.) -->
    <include file="$(find continuous_clustering)/launch/vehicle_kitti.launch" if="$(arg launch_vehicle)"/>

    <!-- play a rosbag if desired -->
    <param name="use_sim_time" value="true" if="$(eval not (bag_file == ''))"/>
    <node pkg="rosbag" type="play" name="rosbag_play_recording"
          required="true"
          args="--rate $(arg bag_rate) --clock $(arg bag_file)"
          if="$(eval not (bag_file == ''))"/>

    <!-- start rviz if desired -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="--display-config $(find continuous_clustering)/rviz/demo_kitti_rosbag.rviz"
          if="$(arg use_rviz)"/>
</launch>